.App {
  display: block;
  width: 450px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d7d7d7;
  padding: 20px 20px 5px;
  border-radius: 5px;
  border-top: 5px solid #03363d;
  box-sizing: border-box;
  box-shadow: 0px 10px 8px #d6d6d6;
}
@keyframes appMiss {
  from {opacity: 1;}
  to {opacity: 0;}
}

.App-miss {
  display: block;
  width: 450px;
  background-color: rgb(255, 255, 255);
  border: 1px solid hsl(0, 0%, 84%);
  padding: 20px 20px 0px;
  border-radius: 5px;
  border-top: 4px solid #03363d;
  box-sizing: border-box;
  box-shadow: 0px 10px 8px #d6d6d6;
  animation-name: appMiss;
  animation-duration: 1.2s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 4s;
}


.App-header {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 14px
}


.App-header-gratefull{
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  height: 175px;
  position: relative;
}

@keyframes showThanksMiss {
  from {opacity: 0; padding-top: 15px}
  to {opacity: 1; padding-top: 0px}
}
.App-header-gratefull p{
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: min-content;
  top: 0;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  animation-name: showThanksMiss;
  animation-duration: 1.2s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header p {
  display: block;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left; 
  width: 100%;
  break-after: always;
  color: rgb(41, 41, 41);
  font-weight: 300;
}

.textArea {
  font-family: 'Be Vietnam Pro';
  width: 100%;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(100,100,100,0.2);
  padding: 8px;
  font-size: 12px
}

.copyFrame {
  font-weight: 300;
  text-align: center;
  display: block;
  position: relative;
  margin: auto;
  color: rgb(10, 72, 243);
  width: 200px;
  font-size: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.sendAvaliation {
  font-family: 'Be Vietnam Pro';
  border: none;
  cursor: pointer;
  font-weight: 300;
  background-color: #f6a523;
  padding: 5px 12px;
  display: block;
  color: #fbfbfb;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  transition: all 0.7s ease-out;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.sendAvaliation:hover {
  background-color:#ffb339;
}
.sendAvaliation:disabled {
  cursor: not-allowed;
  color: #828282;
  background-color: #d4d4d4;
}
.sendAvaliation:disabled:hover {
  color: #828282;
  background-color: #d4d4d4;
}

.optionsCheck {
  margin-bottom: 10px;
  display: flex;
  margin-bottom: 10px;
  align-content: space-between;
  justify-content: space-between;
}

.optionsCheck button{
  font-size: 12px;
  font-weight: 300;
  margin: 5px;
  background: transparent;
  width: 34px;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  border-radius: 18%;
  cursor: pointer;
}

.optionsCheck button:first-child{
  margin-left: 0px
}
.optionsCheck button:last-child{
  margin-right: 0px
}
.option_yellow{
  border-color: rgb(255 211 30);
  color: rgb(214, 176, 22);
}
.option_green{
  border-color: green;
  color: green
}
.option_red{
  border-color: red;
  color: red
}

.option_yellowChecked{
  border-color: rgb(255 211 30) !important;
  color: #4c4c4c !important;
  background-color: rgb(255 211 30) !important;
}
.option_greenChecked{
  border-color: green !important;
  color: white !important;
  background-color: green !important;
}
.option_redChecked{
  border-color: red !important;
  color: white !important;
  background-color: red !important;
}